# Data Exploration

To get the data:

In [11]:
data = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M28/gencode.vM28.annotation.gtf.gz"
name = "gencode.vM28.annotation.gtf.gz"

### Download data

In [2]:
# import shutil
# import urllib.request as request
# from contextlib import closing

# with closing(request.urlopen(data)) as r:
#     with open(name, 'wb') as f:
#         shutil.copyfileobj(r, f)

In [8]:
#No need to use this
# import gzip
# with gzip.open(name, 'rb') as f:
#     file_content = f.read()

### Inspect the data

In [2]:
import pandas as pd

In [32]:
df = pd.read_csv(name, sep="\t", comment='#', dtype=str)
df.head()

,chr1,HAVANA,gene,3143476,3144545,.,+,..1,"gene_id ""ENSMUSG00000102693.2""; gene_type ""TEC""; gene_name ""4933401J01Rik""; level 2; mgi_id ""MGI:1918292""; havana_gene ""OTTMUSG00000049935.1"";"
0,chr1,HAVANA,transcript,3143476,3144545,.,+,.,"gene_id ""ENSMUSG00000102693.2""; transcript_id ..."
1,chr1,HAVANA,exon,3143476,3144545,.,+,.,"gene_id ""ENSMUSG00000102693.2""; transcript_id ..."
2,chr1,ENSEMBL,gene,3172239,3172348,.,+,.,"gene_id ""ENSMUSG00000064842.3""; gene_type ""snR..."
3,chr1,ENSEMBL,transcript,3172239,3172348,.,+,.,"gene_id ""ENSMUSG00000064842.3""; transcript_id ..."
4,chr1,ENSEMBL,exon,3172239,3172348,.,+,.,"gene_id ""ENSMUSG00000064842.3""; transcript_id ..."

In [33]:
df = df.drop(df.columns[[5, 6, 7]], axis=1)
df.head()

,chr1,HAVANA,gene,3143476,3144545,"gene_id ""ENSMUSG00000102693.2""; gene_type ""TEC""; gene_name ""4933401J01Rik""; level 2; mgi_id ""MGI:1918292""; havana_gene ""OTTMUSG00000049935.1"";"
0,chr1,HAVANA,transcript,3143476,3144545,"gene_id ""ENSMUSG00000102693.2""; transcript_id ..."
1,chr1,HAVANA,exon,3143476,3144545,"gene_id ""ENSMUSG00000102693.2""; transcript_id ..."
2,chr1,ENSEMBL,gene,3172239,3172348,"gene_id ""ENSMUSG00000064842.3""; gene_type ""snR..."
3,chr1,ENSEMBL,transcript,3172239,3172348,"gene_id ""ENSMUSG00000064842.3""; transcript_id ..."
4,chr1,ENSEMBL,exon,3172239,3172348,"gene_id ""ENSMUSG00000064842.3""; transcript_id ..."

In [34]:
df.tail()

,chr1,HAVANA,gene,3143476,3144545,"gene_id ""ENSMUSG00000102693.2""; gene_type ""TEC""; gene_name ""4933401J01Rik""; level 2; mgi_id ""MGI:1918292""; havana_gene ""OTTMUSG00000049935.1"";"
1869203,chrM,ENSEMBL,transcript,15289,15355,"gene_id ""ENSMUSG00000064371.1""; transcript_id ..."
1869204,chrM,ENSEMBL,exon,15289,15355,"gene_id ""ENSMUSG00000064371.1""; transcript_id ..."
1869205,chrM,ENSEMBL,gene,15356,15422,"gene_id ""ENSMUSG00000064372.1""; gene_type ""Mt_..."
1869206,chrM,ENSEMBL,transcript,15356,15422,"gene_id ""ENSMUSG00000064372.1""; transcript_id ..."
1869207,chrM,ENSEMBL,exon,15356,15422,"gene_id ""ENSMUSG00000064372.1""; transcript_id ..."

In [38]:
df.columns = ['chr', 'database', 'type', 'start', 'end', 'remarks']
df.head(50)

,chr,database,type,start,end,remarks
0,chr1,HAVANA,transcript,3143476,3144545,"gene_id ""ENSMUSG00000102693.2""; transcript_id ..."
1,chr1,HAVANA,exon,3143476,3144545,"gene_id ""ENSMUSG00000102693.2""; transcript_id ..."
2,chr1,ENSEMBL,gene,3172239,3172348,"gene_id ""ENSMUSG00000064842.3""; gene_type ""snR..."
3,chr1,ENSEMBL,transcript,3172239,3172348,"gene_id ""ENSMUSG00000064842.3""; transcript_id ..."
4,chr1,ENSEMBL,exon,3172239,3172348,"gene_id ""ENSMUSG00000064842.3""; transcript_id ..."
5,chr1,HAVANA,gene,3276124,3741721,"gene_id ""ENSMUSG00000051951.6""; gene_type ""pro..."
6,chr1,HAVANA,transcript,3276124,3286567,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
7,chr1,HAVANA,exon,3283832,3286567,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
8,chr1,HAVANA,exon,3276124,3277540,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
9,chr1,HAVANA,transcript,3276746,3285855,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
10,chr1,HAVANA,exon,3283662,3285855,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
11,chr1,HAVANA,exon,3276746,3277540,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
12,chr1,HAVANA,transcript,3284705,3741721,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
13,chr1,HAVANA,exon,3740775,3741721,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
14,chr1,HAVANA,CDS,3740775,3741571,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
15,chr1,HAVANA,start_codon,3741569,3741571,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
16,chr1,HAVANA,exon,3491925,3492124,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
17,chr1,HAVANA,CDS,3491925,3492124,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
18,chr1,HAVANA,exon,3284705,3287191,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
19,chr1,HAVANA,CDS,3286248,3287191,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
20,chr1,HAVANA,stop_codon,3286245,3286247,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
21,chr1,HAVANA,UTR,3741572,3741721,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
22,chr1,HAVANA,UTR,3284705,3286247,"gene_id ""ENSMUSG00000051951.6""; transcript_id ..."
23,chr1,HAVANA,gene,3322980,3323459,"gene_id ""ENSMUSG00000102851.2""; gene_type ""pro..."
24,chr1,HAVANA,transcript,3322980,3323459,"gene_id ""ENSMUSG00000102851.2""; transcript_id ..."
25,chr1,HAVANA,exon,3322980,3323459,"gene_id ""ENSMUSG00000102851.2""; transcript_id ..."
26,chr1,HAVANA,gene,3435954,3438772,"gene_id ""ENSMUSG00000103377.2""; gene_type ""TEC..."
27,chr1,HAVANA,transcript,3435954,3438772,"gene_id ""ENSMUSG00000103377.2""; transcript_id ..."
28,chr1,HAVANA,exon,3435954,3438772,"gene_id ""ENSMUSG00000103377.2""; transcript_id ..."
29,chr1,HAVANA,gene,3445779,3448011,"gene_id ""ENSMUSG00000104017.2""; gene_type ""TEC..."
30,chr1,HAVANA,transcript,3445779,3448011,"gene_id ""ENSMUSG00000104017.2""; transcript_id ..."
31,chr1,HAVANA,exon,3445779,3448011,"gene_id ""ENSMUSG00000104017.2""; transcript_id ..."
32,chr1,HAVANA,gene,3535200,3537508,"gene_id ""ENSMUSG00000103025.2""; gene_type ""TEC..."
33,chr1,HAVANA,transcript,3535200,3537508,"gene_id ""ENSMUSG00000103025.2""; transcript_id ..."
34,chr1,HAVANA,exon,3535200,3537508,"gene_id ""ENSMUSG00000103025.2""; transcript_id ..."
35,chr1,HAVANA,gene,3536810,3583776,"gene_id ""ENSMUSG00000089699.2""; gene_type ""lnc..."
36,chr1,HAVANA,transcript,3536810,3583776,"gene_id ""ENSMUSG00000089699.2""; transcript_id ..."
37,chr1,HAVANA,exon,3536810,3536910,"gene_id ""ENSMUSG00000089699.2""; transcript_id ..."
38,chr1,HAVANA,exon,3583628,3583776,"gene_id ""ENSMUSG00000089699.2""; transcript_id ..."
39,chr1,HAVANA,gene,3582674,3584730,"gene_id ""ENSMUSG00000103201.2""; gene_type ""TEC..."
40,chr1,HAVANA,transcript,3582674,3584730,"gene_id ""ENSMUSG00000103201.2""; transcript_id ..."
41,chr1,HAVANA,exon,3582674,3584730,"gene_id ""ENSMUSG00000103201.2""; transcript_id ..."
42,chr1,HAVANA,gene,3602018,3602943,"gene_id ""ENSMUSG00000103147.2""; gene_type ""pro..."
43,chr1,HAVANA,transcript,3602018,3602943,"gene_id ""ENSMUSG00000103147.2""; transcript_id ..."
44,chr1,HAVANA,exon,3602018,3602943,"gene_id ""ENSMUSG00000103147.2""; transcript_id ..."
45,chr1,HAVANA,gene,3663115,3666126,"gene_id ""ENSMUSG00000103161.2""; gene_type ""TEC..."
46,chr1,HAVANA,transcript,3663115,3666126,"gene_id ""ENSMUSG00000103161.2""; transcript_id ..."
47,chr1,HAVANA,exon,3663115,3666126,"gene_id ""ENSMUSG00000103161.2""; transcript_id ..."
48,chr1,HAVANA,gene,3717532,3729127,"gene_id ""ENSMUSG00000102331.2""; gene_type ""lnc..."
49,chr1,HAVANA,transcript,3717532,3729127,"gene_id ""ENSMUSG00000102331.2""; transcript_id ..."

In [39]:
df = df.drop(df.columns[[1, 5]], axis=1)
df.head()

    chr        type    start      end
0  chr1  transcript  3143476  3144545
1  chr1        exon  3143476  3144545
2  chr1        gene  3172239  3172348
3  chr1  transcript  3172239  3172348
4  chr1        exon  3172239  3172348

In [48]:
df.set_index('chr').filter(regex='chr1$', axis=0)

            type      start        end
chr
chr1  transcript    3143476    3144545
chr1        exon    3143476    3144545
chr1        gene    3172239    3172348
chr1  transcript    3172239    3172348
chr1        exon    3172239    3172348
...          ...        ...        ...
chr1  transcript  194941607  194942156
chr1        exon  194941607  194942156
chr1        gene  195003591  195005801
chr1  transcript  195003591  195005801
chr1        exon  195003591  195005801

[116558 rows x 3 columns]

In [50]:
df = df.drop(df.columns[[1]], axis=1)
df.head()

    chr    start      end
0  chr1  3143476  3144545
1  chr1  3143476  3144545
2  chr1  3172239  3172348
3  chr1  3172239  3172348
4  chr1  3172239  3172348

In [82]:
df2 = df.set_index('chr').filter(regex='chr1$', axis=0)
df2 = df2.astype(int)
df2

          start        end
chr
chr1    3143476    3144545
chr1    3143476    3144545
chr1    3172239    3172348
chr1    3172239    3172348
chr1    3172239    3172348
...         ...        ...
chr1  194941607  194942156
chr1  194941607  194942156
chr1  195003591  195005801
chr1  195003591  195005801
chr1  195003591  195005801

[116558 rows x 2 columns]

In [83]:
strt = df2['start'].values[0]
strt

3143476

In [84]:
end = df2['end'].values[-1]
end

195005801

In [85]:
(df2['end'].values[-1])-(df2['start'].values[0])

191862325

# Actual Code

In [139]:
df = pd.read_csv(name, sep="\t", comment='#', header=None, usecols=[0,3,4])
df.head()

      0        3        4
0  chr1  3143476  3144545
1  chr1  3143476  3144545
2  chr1  3143476  3144545
3  chr1  3172239  3172348
4  chr1  3172239  3172348

In [140]:
df.columns = ['chr', 'start', 'end']
df

          chr    start      end
0        chr1  3143476  3144545
1        chr1  3143476  3144545
2        chr1  3143476  3144545
3        chr1  3172239  3172348
4        chr1  3172239  3172348
...       ...      ...      ...
1869204  chrM    15289    15355
1869205  chrM    15289    15355
1869206  chrM    15356    15422
1869207  chrM    15356    15422
1869208  chrM    15356    15422

[1869209 rows x 3 columns]

In [141]:
df = df.set_index('chr').astype(int)
df

        start      end
chr
chr1  3143476  3144545
chr1  3143476  3144545
chr1  3143476  3144545
chr1  3172239  3172348
chr1  3172239  3172348
...       ...      ...
chrM    15289    15355
chrM    15289    15355
chrM    15356    15422
chrM    15356    15422
chrM    15356    15422

[1869209 rows x 2 columns]

In [186]:
#df.groupby(['chr']).apply(lambda c: c['end'] - c['start'])

In [180]:
calc = df.groupby(['chr']).agg({'start': ['min'], 'end': ['max']})
calc

         start        end
           min        max
chr
chr1   3143476  195005801
chr10  3054119  130428574
chr11  3075904  121861511
chr12  3073883  119984981
chr13  3058720  120779714
chr14  3067106  124980209
chr15  3082590  103929578
chr16  3068010   97883650
chr17  3092299   95185749
chr18  3015908   90610652
chr19  3103071   61293718
chr2   3066610  181645654
chr3   3069070  159644300
chr4   3051714  156708475
chr5   3050116  151625933
chr6   3051289  149485154
chr7   3096372  144877823
chr8   3106294  130009325
chr9   3000922  124252776
chrM         1      15422
chrX   3076875  169315253
chrY    206151   90855309

In [181]:
calc = calc.diff(axis=1)
calc

      start        end
        min        max
chr
chr1    NaN  191862325
chr10   NaN  127374455
chr11   NaN  118785607
chr12   NaN  116911098
chr13   NaN  117720994
chr14   NaN  121913103
chr15   NaN  100846988
chr16   NaN   94815640
chr17   NaN   92093450
chr18   NaN   87594744
chr19   NaN   58190647
chr2    NaN  178579044
chr3    NaN  156575230
chr4    NaN  153656761
chr5    NaN  148575817
chr6    NaN  146433865
chr7    NaN  141781451
chr8    NaN  126903031
chr9    NaN  121251854
chrM    NaN      15421
chrX    NaN  166238378
chrY    NaN   90649158

In [183]:
calc = calc.drop(calc.columns[[0]], axis=1)
calc

             end
             max
chr
chr1   191862325
chr10  127374455
chr11  118785607
chr12  116911098
chr13  117720994
chr14  121913103
chr15  100846988
chr16   94815640
chr17   92093450
chr18   87594744
chr19   58190647
chr2   178579044
chr3   156575230
chr4   153656761
chr5   148575817
chr6   146433865
chr7   141781451
chr8   126903031
chr9   121251854
chrM       15421
chrX   166238378
chrY    90649158

In [185]:
calc.columns = ['length']
calc

          length
chr
chr1   191862325
chr10  127374455
chr11  118785607
chr12  116911098
chr13  117720994
chr14  121913103
chr15  100846988
chr16   94815640
chr17   92093450
chr18   87594744
chr19   58190647
chr2   178579044
chr3   156575230
chr4   153656761
chr5   148575817
chr6   146433865
chr7   141781451
chr8   126903031
chr9   121251854
chrM       15421
chrX   166238378
chrY    90649158

# All together

In [214]:
df = pd.read_csv(name, sep="\t", comment='#', header=None, usecols=[0,3,4], names = ['chr', 'start', 'end'])
df = df.set_index('chr').astype(int)
df = df.groupby(['chr']).agg({'start': ['min'], 'end': ['max']})
df = df.diff(axis=1)
df = df.drop(df.columns[[0]], axis=1)
df.columns = ['length']
df

          length
chr
chr1   191862325
chr10  127374455
chr11  118785607
chr12  116911098
chr13  117720994
chr14  121913103
chr15  100846988
chr16   94815640
chr17   92093450
chr18   87594744
chr19   58190647
chr2   178579044
chr3   156575230
chr4   153656761
chr5   148575817
chr6   146433865
chr7   141781451
chr8   126903031
chr9   121251854
chrM       15421
chrX   166238378
chrY    90649158